ENV=production
HOST=127.0.0.1
PORT=2001
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=picklah
POSTGRES_PASSWORD=replace-on-server
POSTGRES_DATABASE=picklah
POSTGRES_SSLMODE=disable
POSTGRES_TIMEZONE=UTC
POSTGRES_AUTO_MIGRATE=false
PICKLAH_ALLOWED_ORIGINS=https://picklah.my,https://www.picklah.my
PICKLAH_SITE_URL=https://picklah.my
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
# Blank derives https://picklah.my/v1/auth/oauth/google/callback.
GOOGLE_OAUTH_REDIRECT_URL=
